# PDF repository 
PyPDF2==3.0.1 
reportlab==4.0.4 
fillpdf==0.7.1 
 
# Big Data
pandas==2.0.3 
numpy==1.24.3 
 
# YAML
PyYAML==6.0.1 
jsonschema==4.17.3 
 
# Testing 
pytest==7.4.0 
 
# Logs 
loguru==0.7.0 

#Streamlit
streamlit>=1.28.0
